body{
background-color: rgb(31, 104, 16);
color: white;
font-family: "Nerko One", cursive;
display: flex;
justify-content: center;
align-items: center;
height: 600px;
margin:0px ;

}

button{
background-color: rgb(144, 214, 38);
color: white;
font-family: "Nerko One", cursive;
}

.passo {
    display: none;
}
.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 90%;
}